@using Common;
@using Common.DTO;
@using Newtonsoft.Json;
@using marketioBlazor.Authentication;
@using RestSharp;
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject ApiClientService ApiClient

<EditForm Model="loginDTO" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group d-grid gap-2 col-md-6 col">
        <label for="email">Email address</label>
        <InputText @bind-Value="loginDTO.Email" type="text" class="form-control rounded border" id="email" placeholder="Enter email"/>
        <ValidationMessage For="@(() => loginDTO.Email)" />

        <label for="password">Password</label>
        <input @bind="loginDTO.PasswordHash" type="password" class="form-control rounded border" id="password" placeholder="Password"/>
        <ValidationMessage For="@(() => loginDTO.PasswordHash)" />
    </div>

    @*submit button*@
    <button type="submit" class="btn btn-primary rounded my-3">
        Login
    </button>

    @*error message display *@
    <label class="text-danger fw-bold px-2">@errorMessage</label>

    <br/>
    Don't have an account?
    <NavLink class="" href="register">
        Register
    </NavLink>

</EditForm>

@code {

    private EditContext? editContext;
    private LoginDTO loginDTO = new LoginDTO();
    private string errorMessage = "";

    protected override void OnInitialized()
    {
        editContext = new(loginDTO);
    }

    private async void HandleValidSubmit()
    {
        if (editContext != null && editContext.Validate())
        {
            await Authenticate();
        }
    }

    private async Task Authenticate()
    {
        ApiClient = new ApiClientService();
        try
        {
            var loginResponse = await ApiClient.LogUserInAsync(loginDTO);

            if (loginResponse.IsSuccessStatusCode)
            {
                var userSession = JsonConvert.DeserializeObject<UserSessionDTO>(loginResponse.Content);
                var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
                await customAuthStateProvider.UpdateAuthenticationState(userSession);
                navManager.NavigateTo("/", true);
            }    
            else
            {
                errorMessage = "Username or password is incorrect.";
            }
        }
        catch
        {
            errorMessage = "Username or password is incorrect.";
        }
          
    }
}