@inherits LayoutComponentBase
@using marketioBlazor.Authentication;
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<PageTitle>marketioBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Hello, @context.User.Identity.Name!</span>
                    <button @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content m-0 p-0">
            @Body
        </div>
    </main>
</div>

@code {

    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.LogoutUser();
        navManager.NavigateTo("/", true);
    }

}