@page "/"
@using Common
@using Common.Models;
@using marketioBlazor.Authentication;
@using marketioBlazor.Components
@using marketioBlazor.Components.UI
@inject IJSRuntime js
@inject NavigationManager navManager
@inject AuthenticationStateProvider authStateProvider
@inject Blazored.SessionStorage.ISessionStorageService session
<PageTitle>Welcome to marketio</PageTitle>

<div class="">
    <div class="d-flex flex-column justify-content-center align-items-center py-5">

        <AuthorizeView>
            <Authorized>
                <h1>Hello, @context.User.Identity.Name!</h1>
            </Authorized>
            <NotAuthorized>
                <h1>Welcome to market.io!</h1>
            </NotAuthorized>
        </AuthorizeView>

        <br />
        <br />

        <div>
            <AuthorizeView>
                <Authorized>
                    <a class="btn btn-primary" href="/listings">View Listings</a>
                    <button class="btn btn-primary" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-outline-primary" href="/login">Login</a>
                    <a class="btn btn-outline-primary" href="/register">Register</a>
                </NotAuthorized>
            </AuthorizeView>

            <br />
            <br />

            <a href="https://github.com/ruskpr/buy-and-sell-marketplace-webapp" class="btn btn-outline-dark">View market.io on Github &nbsp;<span class="oi oi-external-link"></span></a>
        </div>
   </div>
    @*<Panel class="bg-dark">
        Content here
        <a class="btn btn-success">Hello</a>
    </Panel>*@
</div>

@code {

    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.LogoutUser();
        navManager.NavigateTo("/", true);
    }

}