@page "/"
@using Common
@using Common.Models;
@using marketioBlazor.Components
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@inject Blazored.SessionStorage.ISessionStorageService session
<PageTitle>Welcome to marketio</PageTitle>

<div class="">
    <div class="d-flex flex-column justify-content-center align-items-center bg-secondary">

        <AuthorizeView>
            <Authorized>
                <h1>Hello, @context.User.Identity.Name!</h1>
            </Authorized>
            <NotAuthorized>
                <h1>Welcome to market.io!</h1>
            </NotAuthorized>
        </AuthorizeView>

        <br />
        <br />

        <div>
            <AuthorizeView>
                <Authorized>
                    <a class="btn btn-primary" href="/listings">View Listings</a>
                    <a class="btn btn-primary" href="/login">Login</a>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-primary" href="/login">Login</a>
                    <a class="btn btn-primary" href="/register">Register</a>
                </NotAuthorized>
            </AuthorizeView>

        </div>
   </div>


</div>

@code {

    private async Task DisplayGreetingMessage()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var message = $"Hello {user.Identity.Name}";
        await js.InvokeVoidAsync("alert", message);
    }
}