@inherits LayoutComponentBase

<PageTitle>marketioBlazor</PageTitle>

<div class="page">
    <main>
        <Header />            

        <div class="content m-0 p-0">
            @Body
        </div>

    </main>

    <BlazoredToasts />
</div>

@code {

    

}