@page "/listings"
@using marketioBlazor.Components.UI
@inject ApiClientService ApiClient

<div class="container">
<br/>
<h3>Listings</h3>

<span>All listings (@_listings.Count)</span>

<a href="/listings/create" class="btn btn-link">Create a new listing</a>

<div class="d-flex gap-3 flex-wrap">
    @foreach (var listing in _listings)
    {
        <div class="">
            <ListingCard Listing="listing" />
        </div>
    }
</div>

</div>

@code {
    private List<Listing> _listings = new List<Listing>();

    protected override async Task OnInitializedAsync()
    {
        ApiClient = new ApiClientService();
        _listings = await ApiClient.GetAllAsync<Listing>();
    }
}
