@page "/listings"
@using marketioBlazor.Components.UI
@inject ApiClientService ApiClient

<div class="container">
<br/>
<h3>Listings</h3>

    @if (_loading)
    {
        <br/>
        <span>Loading listings...</span>
    }
    else
    {
        

<span>All listings (@_listings.Count)</span>

<a href="/listings/create" class="btn btn-link">Create a new listing</a>

<div class="d-grid gap-3">
    @foreach (var listing in _listings)
    {
        <div class="">
            <ListingCard Listing="listing" />
        </div>
    }
</div>

<br/>
<br/>
<br/>
<br/>
    }
</div>

@code {
    private List<Listing> _listings = new List<Listing>();

    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        ApiClient = new ApiClientService();
        _listings = await ApiClient.GetAsync<Listing>();

        _loading = false;
    }
}
